<%= form_with model: quote do |f| %>
  <%= f.input :text_field, :name, label: t("quotes.fields.name"), autofocus: true  %>

  <div class="flex flex-row space-x-2 mt-5">
    <%= f.submit t("forms.save") %>
    <%= link_to t("forms.cancel"), quotes_path, class: "btn btn-secondary btn-sm" %>
  </div>
<% end %>
