<%= turbo_frame_tag "quote_#{quote.id}" do %>
  <div class="mb-10">
    <h2><%= link_to quote.name, quote_path(quote) %></h2>
    <div class="flex space-x-4">
      <%= link_to "Edit",
                  edit_quote_path(quote),
                  class: "btn btn-primary btn-sm" %>

      <%= button_to "Delete",
                    quote_path(quote),
                    method: :delete,
                    class: "btn btn-secondary btn-sm" %>
    </div>
  </div>
<% end %>