<%= link_to sanitize("&larr; #{t("quotes.edit.back")}"), quote_path(@quote) %>

<h1><%= t("quotes.edit.header") %></h1>

<%= turbo_frame_tag @quote do %>
  <%= render "form", quote: @quote %>
<% end %>
